#Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

#Virtual Environment
env/
venv/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
.DS_Store

# Environment variables
.env
.env.local


# Logs
*.log

# pytest
.pytest_cache/
.coverage
htmlcov/


# misc
agenda.md
test_save.py
README_private.md